.fields{
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  margin-top: 20px;
  /*border: 1px solid lightgray;*/
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.fields table{
  width: 100%;
}

.fields table th{
  text-align: center;
}

.add{
  color: green;
}

.add th{
  width: 30px;
}

.edit{
  color: orange;
}

.edit th{
  width: 30px;
}

.remove{
  color: red;
}

.remove th{
  width: 30px;
}

#boxes{
  vertical-align: top;
}

.box-fields{
  width: calc(100% - 10px);
  margin: 5px 5px 10px 5px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 2px 2px lightgray;
}

.cell-reorder{
  text-align: center;
  width: 34px;
  cursor: grab;
}

.cell-reorder:active{
  cursor: grabbing;
}














