.btn-import{
    width: calc(100% - 100px);
    height: 50px;
    margin-left: 50px;
    position: absolute;
    top: calc(50% - 25px);
    font-weight: bold;
}

.title{
    font-weight: bold;
    font-size: 20px;
}

#table-refer-fields th{
    text-align: center;
}

#table-refer-fields .gap{
    height: 60px;
}