.center{
  display: table;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: calc(50vh - 144px);
}

th, td{
  padding: 5px;
}

/*.font-lato{*/
/*  font-family: 'Noto Sans' ;*/
/*}*/

.errors{
    font-weight: bold;
    color: red;
}

.success{
    font-weight: bold;
    color: green;
}