body{
    background-color: #f4f4f5;
    font-family: 'Noto Sans', sans-serif;
}

header {
    /*position: absolute;*/
    height: 60px;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    color: black;
    border-bottom: 2px solid #222d4c;
    font-weight: bold;
    z-index: 10;
}

header table {
    height: 60px;
}

#header-user{
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    line-height: 60px
}

#content-user{
    z-index: 50;
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: white;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}

#header-user:hover{
    background-color: #222d4c;
    color: white;
}

#header-user:hover #content-user{
    display: block;
}

#user-table{
    line-height: 20px;
    font-size: 15px;
    color: black;
}

#user-table th, #user-table td{
    padding: 5px;
}

#menuBtn {
    width: 60px;
    text-align: center;
    cursor: pointer;
}

#menuDrawer {
    overflow: auto;
    margin: 0px;
    padding: 0;
    background-color: #f0f2f5;
    border-right: 1px solid #222d4c;
    height: 100vh;
    width: 100%;
    box-shadow: 0px 0px 10px #222d4c;
}

#menuOptions{
    overflow: auto;
    background-color: white;
    border-left: 1px solid #222d4c;
    height: 100vh;
    width: 100%;
    box-shadow: 0px 0px 10px #222d4c;
}

.headerMax{
    width: 100%;
}

.headerPlusDrawer{
    width: calc(100% - 225px);
}

.headerPlusDrawerAndOptions{
    width: calc(100% - 450px);
}

a, a:link, a:hover {
    text-decoration: none;
    color: inherit;
}

#logo {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    object-fit: contain;
}

.item {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    min-height: 40px;
}

.item:hover {
    background-color: #222d4c;
    color: white;
}

.item table {
    margin-left: 10px;
    min-height: 40px;
    height: 100%;
}

.item td {
    padding-left: 7px;
    padding-right: 7px;
}

.hideClass {
    display: none;
}

.showClass {
    display: block;
}

.showClassRow {
    display: table-row;
}

.showClassCell {
    display: table-cell;
}

.iconMenu {
    width: 30px;
    text-align: center;
}

.center-text {
    text-align: center;
}

.center-form {
    display: table;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.gap-center-form{
    width: 100%;
    padding: 20px;
    display: table;
}

.max-size {
    width: 100%;
    padding: 0px;
}

.table-list {
    width: 100%;
}

.table-head {
    background-color: #222d4c;
    color: white;
}

.table-list tr {
    /*border-bottom: 1px solid lightgray;*/
}

.table-list th, .table-list td {
    text-align: center;
}

.table-without-padding, .table-without-padding th, .table-without-padding td{
    padding: 0;
}

.elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.master-content {
    padding: 20px;
}

#black-background{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.51);
    z-index: 20;
}

#msg-holder, #alert-holder{
    margin: 100px auto;
    /*padding: 10px 30px;*/
}

.msg-text, #alert-text{
    font-size: 20px;
    margin: 0 30px 10px;
}

#loading-holder{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

#progress-holder{
    margin: 100px auto;
    padding: 10px;
    width: 400px;
    height: 50px;
}

.loading-spin {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    /*border-left: 2px solid black;*/
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.info-card{
    position: absolute;
    padding: 5px 10px;
    bottom: 10px;
    left: 0;
    border-top-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.61);
    color: black;
    font-weight: bold;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(34, 45, 76, 0.3);
}

.check-input{
    /*display: none;*/
}

.check, .check-white {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 15px;
    height: 15px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
.check:before, .check-white:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(34,50,84,0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}
.check svg, .check-white svg {
    position: relative;
    z-index: 1;
    fill: none;
    border-radius: 4px;
    background-color: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}
.check svg path, .check-white svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}
.check svg polyline, .check-white svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}
.check:hover:before, .check-white:hover:before {
    opacity: 1;
}
.check:hover svg, .check-white:hover svg {
    stroke-width: 5px;
}

.check-input:checked + .check svg {
    stroke: black;
    stroke-width: 5px;
    background-color: transparent;
    /*border: 1px solid darkgray;*/
}

.check-input:checked + .check-white svg {
    stroke: white;
    stroke-width: 5px;
    background-color: transparent;
    /*border: 1px solid darkgray;*/
}

.check-input:checked + .check svg path, .check-input:checked + .check-white svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}
.check-input:checked + .check svg polyline, .check-input:checked + .check-white svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

.ready{
    background-color: white;
    /*color: #0ea01d;*/
    /*font-weight: bold;*/
}

.delivered{
    font-weight: bold;
    color: deepskyblue;
    background-color: #edf6ff;
}

.not-ready{
    background-color: white;
    color: #a01415;
    font-weight: bold;
}

.executed{
    background-color: #eafff0;
    font-weight: bold;
    color: #07aa00;
}

.not-executed{
    background-color: #fff3ee;
    font-weight: bold;
    color: #aa000d;
}

.return{
    background-color: #fff4b9;
}

.returned{
    background-color: #fff1d3;
    font-weight: bold;
    color: #ffa600;
}

.clickable{
    cursor: pointer;
}

.clickable:hover{
    -webkit-filter: brightness(95%);
}

.img-container{
    position: relative;
    display: table;
    float: left;
    border: 2px solid black;
    margin: 5px 0 5px 5px;
}

.loding-img-container{
    display: table-cell;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.55);
}


.div-table{
    display: table;
}

.div-table-row{
    display: table-row;
    border-bottom: 1px solid lightgray;
}

.div-table-th{
    display: table-cell;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.div-table-td{
    display: table-cell;
    text-align: center;
    padding: 5px;
}

select[readonly] {
    background: #eee; /*Simular campo inativo - Sugestão @GabrielRodrigues*/
    pointer-events: none;
    touch-action: none;
}