#box1 {
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 1px 2px 5px lightgray;
}

/*#box1:after{*/
    /*content: 'Servicos';*/
    /*padding: 0 5px;*/
    /*width: 80px;*/
    /*background-color: white;*/
    /*position: absolute;*/
    /*font-weight: bold;*/
    /*color: #222d4c;*/
    /*top: -5px;*/
    /*right: 0;*/
    /*text-align: center;*/
    /*border: 2px solid #222d4c;*/
    /*border-radius: 5px;*/
/*}*/